
#center{
    display:block;
    width:800px;
    position:absolute;
    left:50%;
    margin-left:-450px;
}


@font-face{
    font-family: "Yanone Kaffeesatz";
    src: url("../res/font/YanoneKaffeesatz.ttf");
}

#titulo{
    display:inline-block;
    font-family: "Yanone Kaffeesatz";
    font-size:105pt;
    margin:0em 0em;
}

#logo{
    display:inline-block;
    float:right;
}

#contenido{
    border:2px solid black;
    top:100px;
    background-color:#DDD;
    width:800px;
    height:415px;
}

#lugares{
    position:absolute;
    top:215px;
    left:50%;
    margin-left:-450px;
    width:120px;
    max-height:330px;
    background-color:white;
    overflow-x:auto;
    overflow-y:scroll;
}


.img_lugar{
    display:block;
    margin:0em 0em;
    border:2px solid black;
    opacity: 0.5;
}

.img_lugar:hover, .img_lugar:focus{
    opacity: 1;
}

.separador{
    height:5px;
    opacity:0;
}

#player{
    margin: 18px 1em 1em 97px;
    border: 1.5px solid black;
    height:369px;
    width:550px;
}

#alarmas{
    min-width:200px;
    
}

.nombre_alarma,
.estado_alarma{
    display:inline-block;
}

#pie p{
    text-align:center;
    font-family:Verdana;
    font-size:8pt;
}

#botonrecargar {
    position: absolute;
    top: 185px;
    left: 50%;
    margin-left: 380px;
}

#alarmas_cuadro{
    position:absolute;
    top:225px;
    left:50%;
    margin-left:275px;
    width:250px;
    background-color:white;
    border:2px solid black;
    height:320px;
}

#tabla_alarmas{
    width:250px;
    padding:1em;
}

#tabla_alarmas td{
    padding: 0px 0px;
}

.title_column p{
    margin:1px 1px;
    font-family:Verdana;
    font-size:8pt;
    float:left;
}

.image_column{
    float:right;
}
